In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
homelessness_df = pd.read_csv('homelessness data.csv') # read csv file into a dataframe object


# loading inbuilt datasets in python
from sklearn import datasets
wine_data = pd.DataFrame(datasets.load_wine().data)

### Introduction to dataframes

In [ ]:
print(homelessness_df.head()) # print the first 5 rows of the dataframe

In [ ]:
print(homelessness_df.info()) # shows information on each of the columns, such as the data type and number of missing values.

In [ ]:
print(homelessness_df.shape) # returns the number of rows and columns in the dataframe

In [ ]:
print(homelessness_df.describe) #calculates a few summary statistics for each column.

In [ ]:
print(homelessness_df.values) # returns the data in the dataframe as a 2D NumPy array.

In [ ]:
print(homelessness_df.columns) # returns the column names of the dataframe.

In [ ]:
print(homelessness_df.index) # returns the index of the dataframe.

### Sorting

In [ ]:
homelessness_df.sort_values("state",ascending = False) # sort the dataframe by the values in the "region" column in descending order.
# if ascending = True, it will sort in ascending order

In [ ]:
# sorting by multiple variables
homelessness_df.sort_values(["individuals","family_members"],ascending = [False,True]) # sort by "individuals" in descending order then "family_members" in ascending order

### subsetting rows and columns

In [ ]:
# susetting sigle columns
homelessness_df["state"] # returns all the values in the "state" column

In [ ]:
# similarly subsetting multiple columns
homelessness_df[["state","individuals"]] # returns the "state" and "individuals" 

#To select multiple columns, you need two pairs of square brackets. In this code, the inner and outer square brackets are performing different tasks. The outer square brackets are responsible for subsetting the DataFrame, and the inner square brackets are creating a list of column names to subset. This means you could provide a separate list of column names as a variable and then use that list to perform the same subsetting. Usually, it's easier to do in one line.

# or

df =["state" , "individuals"]
homelessness_df[df] # returns the "state" and "individuals"

In [ ]:
# subsetting row with condidition
homelessness_df["individuals"] > 10000 # returns boolean values for rows where the "individuals" column is greater than 10000

In [ ]:
homelessness_df[homelessness_df["individuals"] > 10000] # returns the rows(text) where the "individuals" column is greater than 10000

In [ ]:
# subsetting based on text data
homelessness_df[homelessness_df["state"] == "Alabama"] # returns the rows where the "state" column is "Alabama"

# we can also subset based on dates and times if the column is in datetime format

In [ ]:
# subsetting based on multiple conditions

is_state = homelessness_df["state"] == "Alabama"
is_individuals = homelessness_df["individuals"] == 2570.0
homelessness_df[is_state & is_individuals] # returns the rows where the "state" column is "Alabama" and the "individuals" column is 2570

# or

homelessness_df[ (homelessness_df["state"] == "Alabama") & (homelessness_df["individuals"] == 2570.0) ]

### Subsetting using .isin()
if you want to filter on multiple values of a categorical variable, the easiest way is to use the isin method. This takes in a list of values to filter for.

In [ ]:
#Subsetting using .isin()
#if you want to filter on multiple values of a categorical variable, the easiest way is to use the isin method. This takes in a list of values to filter for.

is_alabama_or_NewYork = homelessness_df["state"].isin(["Alabama","New York"])
homelessness_df[is_alabama_or_NewYork] # returns the rows where the "state" column is "Alabama" or "New York"

### Adding new column

In [ ]:
# Adding total col as sum of individuals and family_members
homelessness_df["total"] = homelessness_df["individuals"] + homelessness_df["family_members"]

# Adding p_individuals col as proportion of total that are individuals
homelessness_df["p_individuals"] = homelessness_df["individuals"] / homelessness_df["total"]

# See the result
print(homelessness_df)

### Statistics

In [ ]:
sales_df = pd.read_csv('Walmart sales.csv')

In [ ]:
# Print the mean of weekly_sales
print(sales_df["weekly_sales"].mean())

# Print the median of weekly_sales
print(sales_df["weekly_sales"].median())

# Print the maximum of the date column
print(sales_df["date"].max())

# Print the minimum of the date column
print(sales_df["date"].min())

# similalry we can print mode, std, sum, cumsum, cumprod, quantile etc

In [ ]:
# create custom IQR(inter quartile range) function to calculate IQR of a column
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales_df[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median]))

In [ ]:
# Sort sales_1_1 by date
sales_df = sales_df.sort_values("date")

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_df["cum_weekly_sales"] = sales_df["weekly_sales"].cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_df["cum_max_sales"] = sales_df["weekly_sales"].cummax()

# See the columns you calculated
print(sales_df[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

### counting

In [ ]:
sales_df.head()

In [ ]:
# dropping duplicate names

# Drop duplicate store
store_types = sales_df.drop_duplicates(subset=["store"]) #
print(store_types)

# we'll extract a store with each store from the dataset once. We can do this using the drop_duplicates method. It takes an argument, subset, which is the column we want to find our duplicates based on - in this case, we want all the unique stores.

In [ ]:
# Dropping duplicate pairs
store_types = sales_df.drop_duplicates(subset=["store", "type"])
store_types

# It'll drop any row where the combination of store and type is repeated.

In [ ]:
# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales_df[sales_df["is_holiday"]].drop_duplicates(subset="date")
holiday_dates

# gives the rows where is_holiday is True and then drops any duplicate dates.

In [ ]:
# counting

store_counts = store_types["type"].value_counts()
store_counts

### group summary statistics

In [ ]:
sales_all = sales_df["weekly_sales"].sum() # Calc total weekly sales
sales_A = (sales_df[sales_df["type"]=="A"]["weekly_sales"]).sum() # calculating sum of weekly sales for store type B
sales_B = sales_df[sales_df["type"]=="B"]["weekly_sales"].sum()

sales_propn_by_type = [sales_A, sales_B] / sales_all # calculating proportion of sales for each store type
print(sales_propn_by_type)

In [ ]:
# using groupby to calculate sum of weekly sales for each store type
sales_by_type = sales_df.groupby("type")["weekly_sales"].sum() # grouping by type(column in sales_df) and calculating weekly_sales of each type
sales_propn_by_type = sales_by_type / sum(sales_by_type)
print(sales_propn_by_type)

In [ ]:
# Group by type and is_holiday and calculating total weekly sales
sales_by_type_is_holiday = sales_df.groupby(["type", "is_holiday"])["weekly_sales"].sum() 
print(sales_by_type_is_holiday)

In [ ]:
# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales_df.groupby("type")["weekly_sales"].agg([np.min, np.max, np.mean, np.median]) #
# Print sales_stats
print(sales_stats)

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales_df.groupby("type")[["unemployment", "fuel_price_usd_per_l"]].agg([np.min, np.max, np.mean, np.median])

# Print unemp_fuel_stats
print(unemp_fuel_stats)

### pivot tables
Pivot tables are another way of calculating grouped summary statistics
the "values" argument is the column that you want to summarize, and the index column is the column that you want to group by.
By default, pivot_table takes the mean value for each group.
If we want a different summary statistic, we can use the aggfunc argument and pass it a function. for example,we can use (aggfunc = np.sum)to get the total sales for each store type.

In [ ]:
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales_df.pivot_table(values="weekly_sales", index="type")
print(mean_sales_by_type)

In [ ]:
# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales_df.pivot_table(values="weekly_sales", index="type", aggfunc=[np.mean, np.median])
print(mean_med_sales_by_type)

In [ ]:
# pivot on two variables

# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales_df.pivot_table(values = "weekly_sales" , index = "type", columns="is_holiday") 
print(mean_sales_by_type_holiday)

#To group by two variables, we can pass a second variable name into the columns argument.
#There may be NaNs, or missing values, because there are no any element in our dataset, for example.

In [ ]:
# Print mean weekly_sales by department and type; fill missing values(i.e Nan) with 0
print(sales_df.pivot_table(values="weekly_sales", index="department", columns="type", fill_value=0))

In [ ]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales_df.pivot_table(values="weekly_sales", index="department", columns="type", fill_value=0 , margins= True))

#if we set the margins argument to True, the last row and last column of the pivot table contain the mean of all the values in the column or row, not including the missing values that were filled in with Os.

### Slicing and indexing dataframes
Index makes subsetting simpler

In [ ]:
temperatures = pd.read_csv('temperatures.csv')

In [ ]:
print(temperatures)

In [ ]:
# setting the index of temperature to city
temperatures_ind = temperatures.set_index("city")
temperatures_ind

In [ ]:
# Reset the temperatures_ind index, keeping its contents
print(temperatures_ind.reset_index())

In [ ]:
# Reset the temperatures_ind index, dropping its contents
print(temperatures_ind.reset_index(drop=True)) # drop = True will remove the index column

In [ ]:
cities = ["Moscow", "Saint Petersburg"]
print(temperatures_ind.loc[cities]) # subsetting the rows of cities Moscow and Saint Petersburg ; # shows the rows of cities Moscow and Saint Petersburg

In [ ]:
# Index temperatures by country & city
temperatures_ind = temperatures.set_index(["country" , "city"]) # To take details of multiple cities in a country, we can set the index to be a list of columns, such as ["country", "city"].

rows_to_keep = [("Brazil", "Rio De Janeiro"), ("Pakistan", "Lahore")] # It's a list of tuples, where each tuple is a pair of country and city. It gives the details of county Brazil with city Rio De Janeiro and country Pakistan with city Lahore.

print(temperatures_ind.loc[rows_to_keep]) # subsetting the rows of countries Brazil and Pakistan and cities Rio De Janeiro and Lahore

In [ ]:
# Sort temperatures_ind by index values
print(temperatures_ind.sort_index())

In [ ]:
# Sort temperatures_ind by index values at the city level
print(temperatures_ind.sort_index(level="city"))

In [ ]:
# Sort temperatures_ind by country then descending city
print(temperatures_ind.sort_index(level=["country", "city"], ascending=[True, False]))

In [ ]:
# slicing and subsetting with .loc and .iloc

# Sort the index of temperatures_ind
temperatures_srt = temperatures_ind.sort_index()

In [ ]:
# Subset rows from Pakistan to Russia
print(temperatures_srt.loc["Pakistan":"Russia"]) # Get the rows from Pakistan to Russia

In [ ]:
# subset rows from Lahore to Moscow
print(temperatures_srt.loc["Lahore":"Moscow"])

In [ ]:
# Subset rows from Pakistan, Lahore to Russia, Moscow
print(temperatures_srt.loc[("Pakistan", "Lahore"):("Russia", "Moscow")])

In [ ]:
# Subset rows from India, Hyderabad to Iraq, Baghdad
print(temperatures_srt.loc[("India", "Hyderabad"):("Iraq", "Baghdad")])

# Subset columns from date to avg_temp_c
print(temperatures_srt.loc[:, "date":"avg_temp_c"])

# Subset in both directions at once
print(temperatures_srt.loc[("India", "Hyderabad"):("Iraq", "Baghdad"), "date":"avg_temp_c"])

In [ ]:
# Set date as the index and sort the index
temperatures_ind = temperatures.set_index("date").sort_index()

# Use .loc[] to subset temperatures_ind for rows in 2010 and 2011
print(temperatures_ind.loc["2010":"2011"])

# Use .loc[] to subset temperatures_ind for rows from Aug 2010 to Feb 2011
print(temperatures_ind.loc["Aug 2010":"Feb 2011"])

In [ ]:
# Use Boolean conditions to subset temperatures for rows in 2010 and 2011
temperatures_bool = temperatures[(temperatures["date"] >= "2010-01-01") & (temperatures["date"] <= "2011-12-30")]
print(temperatures_bool)

In [ ]:

# Set date as the index and sort the index
temperatures_ind = temperatures.set_index("date").sort_index()
print(temperatures_ind)

In [ ]:
# Use .loc[] to subset temperatures_ind for rows in 2010 and 2011
print(temperatures_ind.loc["2010":"2012"])

In [ ]:
# Get 23rd row, 2nd column (index 22, 1)
print(temperatures.iloc[22,1])

# Use slicing to get the first 5 rows
print(temperatures.iloc[0:5])

# Use slicing to get columns 3 to 4
print(temperatures.iloc[:,2:4])

# Use slicing in both directions at once
print(temperatures.iloc[0:5, 2:4])

In [ ]:
temperatures['date'] = pd.to_datetime(temperatures.date) #The data type of date is currently `object`, so Pandas does not know that this column is a date. We can convert it into a `datetime` column using the `pd.to_datetime` method.

# Add a year column to temperatures
temperatures["year"] = temperatures["date"].dt.year

# Use .loc[] to subset temperatures_ind for rows from Aug 2010 to Feb 2011
print(temperatures_ind.loc["Aug 2010":"Feb 2012"])

# Pivot avg_temp_c by country and city vs year
temp_by_country_city_vs_year = temperatures.pivot_table("avg_temp_c", index = ["country", "city"], columns = "year")

# Subset for Egypt, Cairo to India, Delhi, and 2005 to 2010
temp_by_country_city_vs_year.loc[("Egypt", "Cairo"):("India", "Delhi"), "2005":"2010"]

In [ ]:
# Get the worldwide mean temp by year
mean_temp_by_year = temp_by_country_city_vs_year.mean()
print(mean_temp_by_year)
print()

# Filter for the year that had the highest mean temp
print(mean_temp_by_year[mean_temp_by_year == mean_temp_by_year.max()])
print()

# Get the mean temp by city
mean_temp_by_city = temp_by_country_city_vs_year.mean(axis="columns") # axis = "columns" will take the mean of each row
print(mean_temp_by_city)
print()

# Filter for the city that had the lowest mean temp
print(mean_temp_by_city[mean_temp_by_city == mean_temp_by_city.min()])

#### handling missing values
In a pandas DataFrame, missing values are indicated with N-a-N, which stands for "not a number"

In [ ]:
employees = pd.read_csv('employees.csv')
employees

In [ ]:
print(employees.isna()) # returns boolean values for missing values of whole dataframe
                        # True for missing values and False for non-missing values

In [ ]:
print(employees.isna().any()) # returns boolean values for missing values in each column of dataframe avocados_2016 : True means NaN values are present in that column and False means no NaN values are present in that column

print()

print(employees.isna().sum()) # returns the number of missing values in each column of dataframe avocados

In [ ]:
# Bar plot of missing values by variable
employees.isna().sum().plot(kind = "bar")

In [ ]:
# remove rows with missing values
employees_complete = employees.dropna() # removes the rows with missing values
# if you want to remove the columns with missing values, you can use the axis argument and set it to 1.

print(employees_complete)

In [ ]:
# List the columns with missing values
cols_with_non_missing_numericals = ["Salary", "Bonus %"]

# Create histograms showing the distributions cols_with_missing
employees[cols_with_non_missing_numericals].hist()

plt.show()

In [ ]:
employees_filled = employees.fillna(0) # fills the missing values with 0 and returns a new dataframe
print(employees_filled)

### creating dataframe
Two ways of creating dataframes

i) from list of dictionaries --> constructed row by row

ii) from discitionaries of lists --> constructed column by column

In [ ]:
# list of dictionaries - by row 

list_of_dicts = [
                {"name": "Ginger", "breed": "Dachshund", "height_cm": 22, "weight_kg": 10, "date_of_birth": "2019-03-14"},
                 {"name": "Scout", "breed": "Dalmatian", "height_cm": 59, "weight_kg": 25, "date_of_birth": "2019-05-09"}
                 ]
# Here, each dictionary represents a row of data. The keys are the column names, and the values are the data points.
# for each dictionary, the keys must be the same, and the values must be of the same data type.
# The order of the keys in the dictionaries does not matter.
# The keys in the dictionaries must match the column names of the DataFrame. If a key is missing, Pandas will fill it in with NaN.
# in this dictionary keys(name, breed, height_cm, weight_kg, date_of_birth) are the columns of the dataframe and the corresponding values are the data points.

new_dogs = pd.DataFrame(list_of_dicts) # create a dataframe from the list of dictionaries
new_dogs

In [ ]:
# dictionary of lists - by column

dict_of_lists = {
                    "name": ["Ginger", "Scout"],
                    "breed": ["Dachshund", "Dalmatian"],
                    "height_cm": [22, 59],
                    "weight_kg": [10, 25],
                    "date_of_birth": ["2019-03-14", "2019-05-09"]
                }   
# key = column name
# value = list of column values from top to bottom.

new_dogs = pd.DataFrame(dict_of_lists) # create a dataframe from the dictionary of lists
new_dogs